

.back-movies {
  background-image:url("../images/bg.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size:contain;
  overflow:auto;
  height: 100vh;  
  padding-bottom: 30px;
  /*background-size: cover;
  background-position: center center;
  background-repeat: repeat;*/
  
}

/* media query para cambiar el background */

/* Extra Large */
@media screen and (max-width:1200) {
  .back-movies {
    background-image:url("../images/bg.jpg");
    height: 100vh;      
  }
}

/* Desktop */
@media screen and (max-width:992) {
  .back-movies {
    background-image:url("../images/bg.jpg");
    height: 100vh;      
  }
}

/* Tablet */
@media screen and (max-width:768) {
  .back-movies {
    background-image:url("../images/bg-tablet.jpg");
    height: 100vh;      
  }
}

/* Celular */
@media screen and (max-width:600) {
  .back-movies {
    background-image:url("../images/bg-mobile.jpg");
    height: 100vh;      
  }
}


.movie-font {
  font-family: 'Secular One', sans-serif;
  color: rgb(255,215,0)
}

.movie-subfont {
  color: whitesmoke;
  font-weight: bold;
}

.movie-input {
  filter:brightness(85%)
}

.movie-button {
  font-family: 'Secular One', sans-serif;
  font-weight:normal;
  border: none;
  background-color: rgb(255,140,0);
  color: white;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px
}

.movie-rounded-flex-div {
  border-radius: 20px;
  border: 2px solid rgb(255,140,0);
  height: 100%;
  max-height: 400px;
}

.camera-navbar {
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 100px;
}
